/* Import layout from styles folder */
@import "../src/styles/layout.css";

body {
  margin: 0;
}

/* Margins for the content divs */
@media only screen and (min-width: 768px) {
  div.content {
    margin-left: 200px;
    padding: 10px;
  }
}
